.page__container {
    width: 60%;
    margin: 0 auto;
    max-width: 1400px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;
    position: relative;
}

@media screen and (max-width: 1600px) {
    .page__container {
        width: 80%;
    }
}

