.page__container {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;
}

@media screen and (max-width: 1600px) {
    .page__container {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .page__container {
        width: 75%;
    }
}
