.videoplayer__button_type_pause {
  width: 100px;
  height: 100px;
  background-image: url("../../../../../assets/svg/pause.svg");
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.videoplayer__button_type_pause:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1420px) {
  .videoplayer__button_type_pause {
    width: 8vw;
    height: 8vw;
    top: calc(50% - 4vw);
    left: calc(50% - 4vw);
  }
}