@import url(./fonts/fonts.css);

/* Стили страницы */
@import url(./blocks/page/page.css);
@import url(./blocks/page/__settings/page__settings.css);

/* Стили header */
@import url(./blocks/header/__title/header__title.css);

/* Стили videoplayer */
@import url(./blocks/videoplayer/videoplayer.css);
@import url(./blocks/videoplayer/__video/videoplayer__video.css);
@import url(./blocks/videoplayer/__button/videoplayer__button.css);
@import url(./blocks/videoplayer/__button/_type/videoplayer__button_type_play.css);
@import url(./blocks/videoplayer/__button/_type/videoplayer__button_type_pause.css);


/* @import url(./blocks/videoplayer/); */

/* Стили footer */
@import url(./blocks/footer/__list-logo/footer__list-logo.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/__github/footer__github.css);
@import url(./blocks/footer/__logo/footer__logo.css);
















