.videoplayer__poster {
  background-image: url("../../../../assets/images/poster.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s linear;
  
}