/* Стили footer */
@import url(./blocks/footer/__list-logo/footer__list-logo.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/__github/footer__github.css);
@import url(./blocks/footer/__link/footer__link.css);
@import url(./blocks/footer/__logo-cont/footer__logo-cont.css);
@import url(./blocks/footer/__logo/footer__logo.css);

*{
  box-sizing: border-box;
}

.page {
    max-width: 1920px;
    min-width: 768px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: normal;
    color: #0d1117;
    box-sizing: border-box;
    background-color: #0d1117;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.page__white-text {
  color: white;
}

.page_light {
  background-color: white;
}

.page__container {
    width: 90%;
    margin: 0 auto;
    max-width: 1320px;
}

.header {
    width: 100%;
    text-align: center;
}

.gallery__list {
    margin: 0;
    padding: 25px 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: repeat(2, minmax(auto, 400px));
    grid-auto-rows: minmax(auto, 400px);
    grid-gap: 20px;
    width: 100%;
    list-style: none;
  }

.gallery__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    border-top-left-radius: 0;
    transition: transform 0.1s linear, box-shadow 0.1s linear;
}

.gallery__photo:hover {
  transform: translate(-10px, -10px);
  box-shadow: 4px 4px 10px 4px rgb(56, 55, 55) ;
}

@media screen and (max-width: 1024px) {
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .gallery__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    padding: 88px 24px;
  }
}


.search__form {
  --padding: 6px;
  --font-size: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 250px;
  position: relative;
}

.search__input {
  border: none;
  border-radius: 3px;
  width: 100%;
  outline: none;
  line-height: 1.2;
  font-size: var(--font-size);
  padding: var(--padding);
  box-shadow: #000 0 0 3px 0px;
}

.search__input-label {
  position: absolute;
  top: var(--padding);
  left: var(--padding);
  color: #0d1117;
  pointer-events: none;
  line-height: 1.2;
  font-size: var(--font-size);
  transition: top 0.3s linear, color 0.3s linear, font-size 0.3s linear;
}

.search__input-label_shift {
  top: -20px;
  color: white;
  font-size: 16px;
}

.search__input-label_dark {
  color: #0d1117;
}

.search__button {
  margin: 0;
  padding: 0;
  border: none;
  background-image: url("./images/search_black.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 3px;
  transform: scale(-1, 1);
  border-radius: 3px;
  transition: transform 0.4s linear;
}

.search__button:hover {
  transform: scale(-1, 1) rotateY(360deg);
}

.search__button:active {
  transform: scale(-0.8, 0.8) rotateY(360deg);
  transition: transform 0s;
}

.buttons {
  width: 60px;
  height: 120px;
  position: fixed;
  top: calc(50vh - 80px);
  left: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas: 
  "button1"
  "button2";
}

.buttons__wrapper {
  background-color: white;
  transition: transform 0.3s linear;
  z-index: 1;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  box-shadow: #000 0 0 10px 0px;
}

.buttons__wrapper:last-of-type {
  grid-area: button2;
  border-bottom-right-radius: 60px;
}

.buttons__wrapper:first-of-type {
  grid-area: button1;
  border-top-right-radius: 60px;
}

.buttons:hover>.buttons__wrapper:last-of-type {
  transform: translateY(60px);
}

.buttons:hover>.buttons__wrapper:first-of-type {
  transform: translateY(-60px);
}

.buttons__button {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  background-color: white;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear, visibility 0.3s linear, transform 0.3s linear;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  cursor: pointer;
}

.buttons__button:last-of-type {
  grid-area: button2;
  border-top-right-radius: 60px;
  transform: translateY(-20px);
}

.buttons__button:first-of-type {
  grid-area: button1;
  border-bottom-right-radius: 60px;
  transform: translateY(20px);
}

.buttons:hover>.buttons__button {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.buttons__text {
  font-size: 16px;
  color: #000;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
  padding-left: 4px;
}

.buttons__button:last-of-type > .buttons__text {
  align-self: flex-end;
  color:white;
}
.buttons__wrapper:first-of-type > .buttons__text {
  align-self: flex-end;
}


