.search__button {
    margin: 0;
    padding: 0;
    border: none;
    background-image: url("../../../images/search_black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 3px;
    transform: scale(-1, 1);
    border-radius: 3px;
    transition: transform 0.4s linear;
}

.search__button:hover {
    transform: scale(-1, 1) rotateY(180deg);
}

.search__button:active {
    transform: scale(-0.8, 0.8) rotateY(180deg);
    transition: transform 0s;
}
