.videoplayer__controls {
  display: grid;
  grid-template-columns: repeat(2, 40px) min-content auto 40px;
  grid-template-rows: 20px 40px;
  grid-template-areas: 
  "progress-bar progress-bar progress-bar progress-bar progress-bar"
  "play volume volume-reg time fullscreen";
  width: 100%;
  position: absolute;
  bottom: -52px; 
  transition: transform 0.4s linear;
  
}
