.popup__close-button {
  width: 35px;
  height: 35px;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  align-self: start;
  margin: 20px;
  transition: opacity 0.1s linear;
}

.popup__close-button::before,
.popup__close-button::after {
  content: '';
  position: absolute;
  top: calc(50% - 2.5px);
  left: calc(50% - 25px);
  border-top: 2.5px solid #fff;
  border-right: 25px solid #fff;
  border-bottom: 2.5px solid #fff;
  border-left: 25px solid #fff;
}

.popup__close-button::before {
  transform: rotate(-45deg);
}

.popup__close-button::after {
  transform: rotate(45deg);
}

.popup__close-button:hover {
  opacity: 0.6;
}


