.board__popup-button {
    margin: 0;
    padding: 0;
    border: transparent 2px solid;
    width: 150px;
    height: 60px;
    background-color: #f1b48a;;
    color: black;
    font-size: 24px;
    border-radius: 50px;
    transition: background-color var(--transition), var(--transition), transform var(--transition);
}

.board__popup-button:hover {
    background-color: #f16507;;
    border: black 2px solid;
}

.board__popup-button:active {
    transform: scale(0.9);
}
